<br>
<div class="col-md-12" *ngIf="error">
  <div class="alert alert-info" role="alert">
      <strong>Aviso: </strong> {{mensaje}}
      <button type="button" class="close" aria-label="Close" (click)="cerrarInfo(); $event.preventDefault()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
</div>
<br>
<app-tablero></app-tablero>
<br>
<app-disparo></app-disparo>
