<br>
<div class="col-md-12" *ngIf="error">
  <div class="alert alert-info" role="alert">
      <strong>Aviso: </strong> {{mensaje}}
      <button type="button" class="close" aria-label="Close" (click)="cerrarInfo(); $event.preventDefault()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
</div>
<div *ngIf="listo">
  <div class="table-responsive-md">
    <table class="table table-dark">
      <tbody>
        <tr class="row col-md-12">
          <th class="col-md-3" *ngFor="let barco of barcosO; let i = index;" [attr.data-index]="i">
            <img class="img-responsive" width="100" height="100" src="../../../assets/img/{{ barco.img }}"/>
          </th>
        <tr>
      </tbody>
    </table>
  </div>
</div>

