<br>
<div class="col-md-12" *ngIf="error">
  <div class="alert alert-info" role="alert">
      <strong>Aviso: </strong> {{mensaje}}
      <button type="button" class="close" aria-label="Close" (click)="cerrarInfo(); $event.preventDefault()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
</div>
<div class="card card-container">
    <h1>Battleship</h1>
    <p>Ingresa un nickname para jugar</p>
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <div *ngIf="cargando">
      <div class="cargando">
        <img width="75" height="75" src="../../../assets/img/cargando.gif">
        <p>Emparejando Partida, espera por favor</p>
      </div>
    </div>
    <span id="reauth-email" class="reauth-email"></span>
    <p>Nickname: {{Jugador.nickname}}</p>
    <div *ngIf="inicia">
      <input type="text" class="form-control" placeholder="Nickname" [(ngModel)]="Jugador.nickname" required autofocus>
      <hr>
      <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="login()">Iniciar</button>
    </div>
    <div *ngIf="cancela">
        <button class="btn btn-lg btn-cancelar btn-block btn-cancelar" (click)="cancelar()">Cancelar</button>
    </div>
</div>