<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color: white;">BattleShip</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a class="nav-link" (click)="logout();">Reiniciar</a>
      </li>
      <li class="nav-item dropdown">
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="logout();">Reiniciar</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<br>
<div class="col-md-12" *ngIf="error">
  <div class="alert alert-info" role="alert">
      <strong>Aviso: </strong> {{mensaje}}
      <button type="button" class="close" aria-label="Close" (click)="cerrarInfo(); $event.preventDefault()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
</div>
<br>
<div class="col-md-12" *ngIf="declara">
  <div class="alert alert-info" role="alert">
      <strong>{{winner}}</strong>
  </div>
</div>
<br>
<div class="table-responsive-md" style="opacity: 0.8;">
  <table class="table table-dark">
    <tbody>
      <tr class="row col-md-12">
        <th class="col-md-3" *ngFor="let barco of barcosO; let i = index;" [attr.data-index]="i">
          <img class="img-responsive" width="100" height="100" src="../../../assets/img/{{ barco.img }}"/>
        </th>
      <tr>
    </tbody>
  </table>
</div>
<br>
<div class="table-responsive-md" style="opacity: 0.8;">
  <table class="table table-dark">
    <tbody>
      <tr class="row col-md-12">
        <th class="col-md-3" *ngFor="let disparo of disparos; let i = index;" [attr.data-index]="i">
          <img class="img-responsive" width="100" height="100" src="../../../assets/img/{{ disparo.img }}" (click)="disparar(disparo.id);"/>
        </th>
      <tr>
    </tbody>
  </table>
</div>