/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("./assets/img/fondo5.jpg");
    /* background-repeat: no-repeat; */
    background-size: auto;
    text-align:center;
    margin:0 auto;  
    position: absolute;
    width: 100%;
    height: 100%;
}

#contenedor{
    margin: 0 auto;
    text-align:center;
    width:100%;
}
